<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Chats</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addBuddy()">
        <ion-icon name="person-add"></ion-icon>
    </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list-header>
    Request
  </ion-list-header>
  <ion-list>

    <ion-item-sliding *ngFor="let request of myRequest">

      <ion-item>

        <ion-avatar item-left>
          <img src="{{request.photoURL}}" alt="{{request.displayName}}">
        </ion-avatar>
        <h2> {{request.displayName}}</h2>
      </ion-item>


      <ion-item-options>
        <button ion-button color="secondary" (click)="acceptRequest(request)">
        <ion-icon name="happy"></ion-icon>Accept
    </button>

        <button ion-button color="danger" (click)="rejectRequest(request)">
        <ion-icon name="sad"></ion-icon>Reject
    </button>

      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list-header>
    Friends
  </ion-list-header>
  <ion-list>

    <ion-item-sliding *ngFor="let friend of myFriends">

      <ion-item (click)='beginChat(friend)'>

        <ion-avatar item-left>
          <img src="{{friend.photoURL}}" alt="{{friend.displayName}}">
        </ion-avatar>
        <h2> {{friend.displayName}}</h2>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>